@import ~styles/variable

input
    background: #ffffffc4
    padding: 16px 26px
    border-width: 0
    border-bottom: 2px solid #efefef
    transition: all .4s
    outline: none

    &:focus
        border-bottom-color: $color-important
    
    &.disabled
        opacity: .4
        border-bottom-color: #fff

::placeholder
    color: rgba($color-main, .3)

    ＆:first-letter
        text-transform: uppercase
