@import ~styles/variable

input
    background: #ffffff69
    padding: 16px 26px
    border-width: 0
    border-bottom: 2px solid #ddd
    transition: all .4s
    outline: none

    &:focus
        background: #e6d375

::placeholder
    color: rgba($color-main, .3)

    ＆:first-letter
        text-transform: uppercase
